In [1]:
print("welcome to python programming")
print("hii this is python")

welcome to python programming
hii this is python

x=4785348563478534785658778
print(x)

#abhi
##abhi
#####abhi

# abhi
#### abhi

###### abhi

# For italic and bold
* *abhi*

* **abhi**

* ***abhi***

* ***ABHI***

- subjects
  - english
  - math
  - bio

# heyyyy

![deadpool](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4ay9z-x_ZqvhpU6BE_D_ooFZJ-0C_zbgilyLyA6JEHxZwLvVV)

## Hi

### hlo

## this is

# Deadpool

# Dishooom

![deadpool2](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmmPPF_26XQfEcmS9iS2BZfFUGeMCuLkl5w0K2-MqLH3vAVtLg&s)

[abhi](http://ct3.gitam.edu/dashboard/)

[deadpool wow](https://wallpapershome.com/movies/deadpool-2-ryan-reynolds-4k-18352.html)

In [87]:
print("hey!",end=",")
print("whatsapp buddy..")

hey!,whatsapp buddy..

In [88]:
print("arey",end=" yaar....!")
print("  lets chill na...")

arey yaar....!  lets chill na...

In [89]:
a="Python"
b=7
type(a)
id(b)

1566886144

In [90]:
f =1.4
type(f)

float

In [91]:
name="ria"
print("her name is",name)

her name is ria

In [92]:
g=h=7

In [93]:
g

7

In [94]:
h

7

In [95]:
input("enter your language")

enter your language

''

In [96]:
b=input("enter something = ")
type(b)

enter something =

str

In [97]:
d=float(input("enter the number"))
type(d)

enter the number

ValueError: could not convert string to float:

In [98]:
a=int(input("english marks = "))
b=int(input("Math marks = "))
c=a+b #total marks
print("Total marks are =",c)

english marks = 35
Math marks = 35
Total marks are = 70

In [99]:
c1=7+2j
c2=5+4J
print(c1+c2)
print(c1-c2)
print(c1*c2)

(12+6j)
(2-2j)
(27+38j)

In [100]:
a= True
type(a)

bool

In [101]:
b= False
type(b)

bool

In [102]:
False>True

False

In [103]:
a=345
b=434

In [104]:
a>b

False

In [105]:
s1="abhi"
s2='abhi'
print(s1)
type(s2)

abhi

str

In [106]:
i=100
print(type(i))

<class 'int'>

In [107]:
s1=str(i)
print(s1)
type(s1)

100

str

In [108]:
s="100"
print(type(s))

<class 'str'>

In [109]:
a=int(s)
type(a)

int

In [110]:
a='143'
len(a)

3

In [111]:
a='387456394875634785'
len(a)

18

In [112]:
a='221710401026'
len(a)

12

# Operators

# Arthematic :- +,  -,  %,  ***,  /,  //(floor division),  ***(exponentiation)

# Logical :- and, or, not

# Relational :- <,  <=,  >,  >=,  ==,  !=  

# Membership :- in, not in

In [113]:
x=10
y=20
print(x+y)
print(x-y)
print(x*y)
print(x**y)
print(x/y)
print(x//y)

30
-10
200
100000000000000000000
0.5
0

In [114]:
#logival operators
x=2
y=3
print(x>=5 and y<10)
print(x>5 or y<=61)
print(not(x))
print(not(y))

False
True
False
False

In [115]:
x=2
y=3
print(x<y)
print(x<=y)
print(x>y)
print(x>=y)
print(x==y)
print(x!=y)

True
True
False
False
False
True

In [116]:
str1 = "abhi"
print('a' in str1)
print('a' not in str1)

True
False

## conditional statements
  
   - if
   - if else
   - elif

## syntax

## 1.
###  if condition:
  - statements
  
______________________________________________________________________________________________
  
## 2.
### if condition
    -statement
### else
    -statement
    
______________________________________________________________________________________________

## 3.
###  if condition
    - statement
### elif
     - statement
### elif
    - statement
### else
    - statement

In [120]:
a=10
if a>0:
    print("positive")

positive